@import url(http://fonts.googleapis.com/css?family=Patua+One);
/* #Tablet (Portrait)================================================== */
body { margin:0; padding:0; font-family: Century Gothic, 'CenturyGothic', AppleGothic, sans-serif; font-size:13px; background-color:#56555A; color:#666666; line-height: 18px;


}

p {
    color: #262626;
    font: 13px/21px Century Gothic, 'CenturyGothic', AppleGothic, sans-serif;
    padding: 5px 0 0;
}

ul {
    color: #262626;
    font: 13px/21px Century Gothic, 'CenturyGothic', AppleGothic, sans-serif;
    list-style: none;
}


.wrapper {  background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    min-height: 2500px;
    width: 950px;}
    
    #wrapper {  background: none repeat scroll 0 0 #FFFFFF;     margin: 0 auto;     width: 970px; margin-top:10px;}
    
.topbar_outer { float:left; width:100%; background-color:#0E2CA3}
.topbar_inner { margin:0 auto; width:950px; text-align:right; color:#FFFFFF; line-height:32px}
.phone_desktop {
    color: #0054a4;
    float: right;
    font-size: 15px;
    line-height: 32px;
    margin-right: 13px;
    margin-top: 10px;
    text-align: right;
    width: 66%;
}.phone_desktop .phone {

    margin-right: 35px;
}.phone_desktop span{
    background-position: left center;
    background-repeat: no-repeat;
 }

.topbar_inner span { font-weight:bold; font-size:20px;}
.phone_desktop span { font-weight:bold; font-size:24px;}
.header_wrapper {
    float: left;
    height: 105px;
    padding-top: 0px;
    width: 100%; border-top:5px solid #0054a4;
}
.header_inner { width:950px; margin:0 auto;   min-height:105px;/* background-image: url("../images/header_bg.jpg")*/;
	
}
.logo { float:left; width:254px; height:84px; margin-top:3px; margin-left:13px;}
.logo img {
    margin-top: 00px;
    max-width: 100%;
}
.banner_wrapper {
    background-image: url("../images/ab.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    margin: 0 0;
    width: 100%; background-color:#e9edee; border-bottom: 5px solid #0054a4; background-size:100% auto 
}
.ab {background-image: url("../images/ab.jpg") !important;}
}
.innerpage .banner_wrapper {
    background-image: url("../images/banner-inner.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    margin: 0 0;
    width: 100%; background-color:#e9edee; border-bottom: 5px solid #0054a4; background-size:100% auto  !important
}
.innerpage .banner_wrapper {
    background-image: url("../images/northpark2.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    margin: 0 0;
    width: 100%; background-color:#e9edee; border-bottom: 5px solid #0054a4; background-size:100% auto  !important

}
.pharm {background-image: url("../images/pharmacy technician.jpg") !important;}
.legal {background-image: url("../images/legal assistant.jpg") !important;}
.hvac {background-image: url("../images/hvac technician.jpg") !important;}
.auto {background-image: url("../images/automotive technician classes.jpg") !important;}
.welding {background-image: url("../images/combination welding teacher.jpg") !important;}
.electrical {background-image: url("../images/electrical mechanic.jpg") !important;}
.it_banner {background-image: url("../images/computer IT student.jpg") !important;}
.cosmo {background-image: url("../images/cosmetology student.jpg") !important;}
.powersports {background-image: url("../images/powersports.jpg") !important;}
.program {background-image: url("../images/program.jpg") !important;}
.dental {background-image: url("../images/dental assistant program.png") !important;}
.appling {background-image: url("../images/appling-farms.jpg") !important;}
.dividend {background-image: url("../images/dividend.jpg") !important;}
.northpark {background-image: url("../images/students at vatterott.jpg") !important;}
.ma_banner {background-image: url("../images/medical student.png") !important;}
.sunset {background-image: url("../images/SunsetHills_032310131.jpg") !important;}
.stcharles {background-image: url("../images/StCharles.jpg") !important;}
.fairview {background-image: url("../images/FairviewHeights.jpg") !important;}

/*
.quincy {background-image: url("../images/") !important;}
.cleveland {background-image: url("../images/") !important;}
.desmoines {background-image: url("../images/") !important;}
.joplin {background-image: url("../images/") !important;}
.kansas {background-image: url("../images/") !important;}
.oklahoma {background-image: url("../images/") !important;}
.sprinfield  {background-image: url("../images/") !important;}
.stjoe {background-image: url("../images/") !important;}
.tulsa {background-image: url("../images/") !important;}
.wichita {background-image: url("../images/") !important;}
*/



/*
.quincy {background-image: url("../images/quincysd.png") !important; }
.cleveland {background-image: url("../images/clevelandsd.png") !important;}
.desmoines {background-image: url("../images/desmoinsd.jpg") !important;}
.joplin {background-image: url("../images/joplinsd.png") !important;}

*/

.bmp {background-image: url("../images/building maintenance program.png") !important;}
.training {background-image: url("../images/personal training certificate.png") !important;}
.paralegal_banner {background-image: url("../images/banner-paralegal.jpg") !important;}
.vet {background-image: url("../images/vet tech college.jpg") !important;}
.web {background-image: url("../images/web design courses.png") !important;}


.enviro {background-image: url("../images/Environmental-Systems-Technology.jpg") !important;}
.plumb {background-image: url("../images/Plumbing.jpg") !important;}
.wind {background-image: url("../images/wind-energy.jpg") !important;}
.indust {background-image: url("../images/Industrial-Control-Technology.jpg") !important;}









.banner_wrapperinner{ height:350px;}
.enroll-now{ width:100%; text-align:center}
.banner_inner { width:950px; margin:0 auto;}
.banner { float:left; text-align:center; width:600px}
.banner img { max-width:100%}
.login_section {
   
    border: 0 solid #FFFFFF;
    float: left;
    margin-top: 14px;
    width: 370px; background:rgba(255,255,255,0.8); border-radius:10px
}
.login_section_inner{ border:solid #CACACA  1px !important; border-radius:0 !important; padding:2px}
.tag1 {
    color: #324249;
   font-size: 27px;
   padding-top: 10px;
   padding-bottom: 15px;
   line-height: 32px;
}

h1.tag2 {
    color: #0E2CA3;
   font-size: 27px;
   padding-top: 10px;
   padding-bottom: 15px;
   line-height: 32px; margin:0
}


.login_header { width:100%; float:left; padding:17px 0; background-color:#fff; border:solid 1px #cacaca; border-bottom:solid #0A5599 5px; border-radius:0;
background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #fff), color-stop(1, #ececec));
	background: -moz-linear-gradient( center top,  #fff 20%, #ececec 100% );
	
 }
.login_header img { margin-top:-17px}
.arrow { float:left; width:62px !important}
.arrow img { margin-top:-27px}
.title { float:left; width:100% !important; font-size:14px; font-weight:bold}
.title span {  font-weight:bold; color:#324249; font-size:20px;}
.information_form {
/*    background-color: #FFFFFF;*/
    float: left;
    padding: 0 5% 5%;
    width: 90%;
}.information_form label { float:left; width:100%; margin:1px 0 1px 0; font-size:12px; font-weight:bold}
.information_form select { float:left; width:100%; background-color:#FFFFFF; border:#CCCCCC solid 1px; padding:7px 3px}
.information_form input { float:left; /*width:96%;*/  padding:7px 3px; margin-right:0; margin-left:0;}
.information_form input.submit { float:left; width:98%; background-color:#FFFFFF; border:#CCCCCC solid 1px; padding:7px 3px; margin-top:10px; background-image: url(../images/button_bg_h.jpg); background-repeat: repeat-x; background-position: left top; font-size:25px; font-weight:bold; color:#FFFFFF; border-radius:5px}
.information_form input.submit:hover { float:left; width:98%; background-color:#FFFFFF; border:#CCCCCC solid 1px; padding:7px 3px; margin-top:10px; background-image: url(../images/button_bg.jpg); background-repeat: repeat-x; background-position: left top;  font-weight:bold; color:#FFFFFF; border-radius:5px}

.body_wrapper { float:left; width:100%;  background-image: url(../images/body_pattern.jpg);  }
.body_inner { margin:0 auto; width:950px;}
.large{ font-size:16px !important; color:#DF1B4E!important}
.content_left {  float: left;
    margin-top: 10px;
    padding-left: 1%;
    width: 60%;}
	.content_left_inner {  float: left;
    margin-top: 10px;
    padding-left: 1%;
    width: 57%;}
.content_right { float:right; width:38%; margin-top:20px}
.mtopinnerright{ margin-top:100px; width:40% !important}
.login_section_outer { float:right; width:380px}
.login_section_outer_inner{ position:relative}
.form_notes {
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    line-height: 14px;
    padding: 0 5px;
}
h1 {
   color: #0054a4;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    width: 100%;
}h2{
    color: #0054a4;
    font-size: 17px;
    font-weight: bold;

    width:100%;
   
}

.buttoh1 {
    color: #004E85;
    font-size: 17px;
    font-weight: bold;

    width:100%;
    /*padding-bottom:10px;
    background-image: url(../images/title_bg.jpg);
    background-repeat: repeat-x;
    background-position: left bottom;*/
}n1{ float:left; width:98%; /*border:#CCCCCC solid 1px;*/ padding:7px 5px; margin-top:10px;/* background-image: url(../images/button_bg.jpg); background-repeat: repeat-x; background-position: left top;*/ font-size:25px; font-weight:bold; color:#FFFFFF; border-radius:5px; text-align:center; font-size:23px !important; color:#0075BF !important; margin-bottom:26px}








.content_left strong { color: #000; font-size: 13px; font-weight: bold;}
.footer_wrapper{    background-color: #0054A4;
    float: left;
    height: 69px;
    margin-top: 25px;
    width: 100%;}
.footer_inner{width:950px; margin:0 auto; padding:15px 0px; color:#FFFFFF; text-align: center; }
.footer_inner span{ text-transform:uppercase; color:#CAD8E9}
.toptenreason{ float:left; padding:0 10px 10px 0 }
ol.toptenreason{ float:left; margin:0 0 0 5px; list-style:none; }
    
ol.toptenreason li {
    background-image: url("../images/tik.png");
    background-position: left 10px;
    background-repeat: no-repeat;
    font-weight: bold;
    line-height:20px;
    margin-bottom: 2px;
    padding-left: 18px; font-size:16px; margin-bottom:16px
}
.video_wrapper{ float:left; width:339px !important;}
a{ color:#0075BF; text-decoration:none}
.info{
   padding:10px; text-align:left; }
.info h2{     font-size: 35px;
    font-weight: bold;
    line-height: 38px;
    margin: 10px 0 0 5px;
    text-transform: capitalize; }
.info h3{      font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    margin: 10px 0 0 5px;
    text-transform: capitalize; }

ul.slides li div.slide{ float:left; width:100%; height:100%}
ul.slides li div.banner1{/*background-image: url(../images/banner-1.jpg);*/ background-size:100% auto; background-repeat:no-repeat; width: 450px}
ul.slides li div.banner2{background-image: url(../images/banner-2.jpg); background-size:100% auto; background-repeat:no-repeat}

   /* Note: Design for a width of 768px */


@media only screen and (max-width: 480px) {.arrow {float:left;width:40px !important}
.arrow img {margin-top:-17px !important}
.title {float: left;font-size: 12px;margin-bottom: 10px;margin-top: -5px; }
.footer_inner{width:95%; margin:0 auto; padding:15px 0; color:#FFFFFF; }
.info{margin-top:0px; padding-bottom:34px}
.flex-direction-nav a{ margin-top:-100px !important}
#wrapper { width: 95%;}
.twobyone{ width:92%}
.banner_wrapper{  margin-left: 7px !important; width: 95% !important; background-size: 152% auto;}

.login_section {    margin: 178px 0 0 !important;}


.twobyonespep_1{width:100% !important;}
.fourbyone{width:95% !important;}
.thumb{ height:100% !important}
.fourbyone p{min-height:100% !important}
.footer_inner .right ul li{ float:left !important;}
.footer_wrapper{ height:auto; padding-bottom:15px !important}
.header_wrapper{ height:auto !important}
.topmenu{ float:left; width:100%}
.topmenu ul li{ float:left !important; width:100% !important}
.login_section{ margin-top:10px !important}
.topmenu ul li a{ float:left !important; width:250px !important; padding-bottom:6px !important; }
.topmenu ul li.active{padding-bottom: 3px !important;}
.logo{ height: 47px !important; margin-top:15px;}
.header_inner{min-height:70px !important }.logo{ margin-top:15px !important;}
.banner_wrapperinner {
    height: auto;
}
.innerpage .content_left_inner{ width:95%  !important}
.innerpage .content_right{ width:95% !important; float:left !important}
.banner {
    height:125px !important;
    width: 100%;
}

.desktopmenu{  display:none}
#mobilemenu{ display:block !important}
.topbar_inner {color: #FFFFFF !important;}
.onlyondesktop{display:none}
.onlyonmobile{ display:block}
.spep_1 span{margin-right: 4px !important;
    padding: 8px 6px !important;}
.spep_2 span{margin-right: 4px !important;
    padding: 8px 6px !important;}



.innerpage .banner {
    height:135px !important; 
    width: 100%;
}
.innerpage .banner_wrapper {background-size:180% auto !important}


}

/* #Clearing================================================== */   
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
     
   .banner{ width:600px !important;
   } 

}*/

.aciclogo{ float:left; margin:0 5px 5px 0}


.twobyone {
    float: left;
    margin: 0%;
    min-height: 248px;
    padding: 0%;
    width: 100%; margin-top:10px
}.mr0{ margin-right:0}
.enrollnow{ max-width:100%}
.information_form select{ margin-bottom: 10px; color:#3156a3 }
.information_form input{ margin-bottom: 3px; color:#3156a3; width: 98% !important }
.information_form div.left{ float: left;  width: 48%}
.information_form div.right input#inf_field_phone{width: 92% ; float: right; }
.information_form div.right input#inf_field_Email{width: 92% !important; float: right; }
.information_form div.right{ float: right; width: 48%}




input.submit_form{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 5px 0;
    padding: 0; width: 100%
}















.demo {
  
 
  position:relative;
  overflow:hidden
}
.collapse p {padding:0 10px 1em}

.switch {
    padding: 3px;
    position: absolute;
    right: 1.5em;
    top: 1em;
}

.post .switch {position:static; text-align:right}

.post .main{margin-bottom:.3em; padding-bottom:0}

.other ul, .summary {margin-bottom:.3em; padding:1em; border:1px solid #e8e7e8; background-color:#f8f7f8}

.other ul {margin-bottom:1em; list-style-type:none; text-align:center}


.expand {
    margin: 5px 0;
    padding: 0;
}


.expand a {
  display:block;
  padding:3px 10px; background-color: #01a7e3; color: #fff
}
.expand a:link, .expand a:visited {
  border-width:1px;
  background-image:url(../images/plus.jpg);
  background-repeat:no-repeat;
  background-position:98% 50%; background-color: #0054a4; color: #fff; font-size: 17px; padding: 5px 10px
}
.expand a:hover, .expand a:active, .expand a:focus {
}
.expand a.open:link, .expand a.open:visited {
  border-style:solid;
  background:#0054a4 url(../images/minus.jpg) no-repeat 98% 50%; 
}
hr {
    background: none repeat scroll 0 0 #e6e6e6;
    border: medium none red;
    height: 1px;
}
.topmenu {
    float: right;
    margin-top: 15px;
    position: relative;
    z-index: 999;
}
.topmenu ul{ margin:0; padding:0 }
.topmenu ul li{ margin:0;  display:inline; list-style:none; /*background-image: url(../images/menu_border.jpg);*/ background-position:left center; background-repeat:no-repeat; padding-bottom:10px; padding-top:10px;}
.topmenu ul li a{ font-size:14px; font-weight:bold; font-family:Century Gothic, 'CenturyGothic', AppleGothic, sans-serif; color:#1e3e51; padding:5px 10px 8px 10px;}

.topmenu ul li.active{/*background-image: url(../images/active_menu.png);*/ background-position:center bottom; background-repeat:no-repeat; padding-bottom:30px }
.topmenu ul li.active a{
	color:#318eee; border-bottom:#0E2CA3 5px solid
	
}.topmenu ul li a:hover{color:#318EEE}
.prog_outer {
    background-color: #1E2226;
    border-radius: 10px;
    float: left;
    margin: 10px 5%;
    padding: 1px;
    width: 90%;
}
.prog_outer_inner{border-radius:10px; float:left; width:33%; background-image: url(../images/prog_green.jpg); padding:5px; background-position:left center;}
.prog_outer_inner1{border-radius:10px; float:left; width:66%; background-image: url(../images/prog_green.jpg); padding:5px; background-position:left center;}
.prog_outer_inner2{border-radius:10px; float:left; width:97%; background-image: url(../images/prog_green.jpg); padding:5px; background-position:left center;}
.formsteps{  float: left;
    margin: 10px 5%;
    padding: 1px;
    width: 90%; font-size:14px; color:#0A5599;   }
.spep_1{ padding:4px 0px; border:solid #cacaca; border-width:1px  0px  1px  0px ; width:33%; float:left; color:#FFA500; font-size:10px; font-weight:bold; }
.spep_1 span{ border:solid; border-color:#cacaca #cacaca  #004e93  #cacaca; border-width:1px  1px  4px  1px ; padding:8px 9px; border-radius:5px;
float:left; margin-right:10px;  box-shadow: 0 0 11px #CACACA;}
.spep_2 span{ border:solid; border-color:#cacaca #cacaca  #004e93  #cacaca; border-width:1px  1px  4px  1px ; padding:8px 9px; border-radius:5px;
float:left; margin-right:10px;  box-shadow: 0 0 11px #CACACA;}
.spep_2{  padding:4px 0px; border:solid #cacaca; border-width:1px  0px  1px  0px ; width:33%; float:left; color:#000; font-size:10px; font-weight:bold}
.spep_2:hover {cursor: hand; cursor: pointer;}

.button {
	display: inline-block;
	margin: 2px 0;
	padding: 5px 15px 3px;
	border: 1px solid #d43242;
	border: 1px solid #d43242;
	
	color: #fff!important;
	text-align: center;
	text-decoration: none !important;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-transform: uppercase;
	font: bold 12px/16px Century Gothic, 'CenturyGothic', AppleGothic, sans-serif;
	cursor:pointer;

	/*Border radius*/
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	
	/*Background*/
	background: #274d70; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #e0606d), color-stop(1, #c02030));
	background: -moz-linear-gradient( center top,  #e0606d 20%, #c02030 100% );
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	text-transform:uppercase; font-size:15px;
}

.button:hover {
	color: #fff;
	text-decoration: none!important;
	/*Background*/
	background: #396083; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #3c77ab), color-stop(1, #396083) );
	background: -moz-linear-gradient( center top, #c02030 20%, #e0606d 100% );
}





.button2 {
	display: inline-block;
	margin: 2px 0;
	padding: 5px 15px 3px;
	border: 1px solid #1B69A9;
	
	color: #fff!important;
	text-align: center;
	text-decoration: none !important;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-transform: uppercase;
	font: bold 12px/16px Century Gothic, 'CenturyGothic', AppleGothic, sans-serif;
	cursor:pointer;

	/*Border radius*/
	 border-radius: 3px;
	
	/*Background*/
	background: #274d70; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #529ed2), color-stop(1, #035297));
	background: -moz-linear-gradient( center top,  #529ed2 40%, #035297 100% );
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	text-transform:uppercase; font-size:11px;
}

.button2:hover {
	color: #fff;
	text-decoration: none!important;
	/*Background*/
	background: #396083; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #3c77ab), color-stop(1, #396083) );
	background: -moz-linear-gradient( center top, #459cd7 20%, #58a5d8 100% );
}








.phno{ color:#0A5599; font-size:20px; font-weight:bold}
.calltext{color:#bf1e2e}
.bannertitle{font-family: 'Patua One', cursive;}
h2.bannertitle{ color:#1e3e51}
h3.bannertitle{ color:#004e93}
h2.tag1{ margin:0; padding:0; color:#0054A4}
p.welcometext{ font-size:18px; line-height:23px; color:#324249; margin:0}





.twobyonesteps {
    float: left;
    margin: 10px 0 0;
    padding: 1px;
    width: 100%;
}
.twobyonespep_1{ padding:10px 0px; border:solid #cacaca;  border-width:1px  0px  0px  0px ; width:48%; float:left; }
.twobyonespep_1 span{ border:solid; border-color:#cacaca #cacaca  #004e93  #cacaca; border-width:1px  1px  4px  1px ; padding:8px 9px; border-radius:5px;
float:left; margin-right:10px;  box-shadow: 0 0 11px #CACACA;}
.twobyonespep_1 h4{ margin:0; padding:0; font-size:14px; font-weight:bold; color:#000 }
.twobyonespep_1 p{ margin:0; padding:0; }
.twobyonespep_1 span.number{ font-family: 'Patua One',cursive;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 19px 21px;}
	
	
	
	.testimonials_wrap{ float:left; margin-bottom:20px;width:100%;}
	.testimonials_top{ float:left; border:solid #ededed 1px; border-bottom:none;  padding: 3% 3% 0% 23%;
    width: 70%;	background-image: url(../images/quote.jpg); background-position:20px 15px; background-repeat:no-repeat; font-size:12px; font-weight:bold; font-style:italic; color:#000; background-color:white !important}
	.testimonials_btm{ background-image: url("../images/testi_btm.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height:15px;
 padding: 10px 3% 0 23%;
    width: 70%; background-color:#fff !important}
	.testimonials_btm span{ color:#005175; font-size:14px; font-weight:bold}
	.midsec_hea{ font-size:24px; margin:0; color:#000; text-align:center; line-height:26px}
	
	.fourbyone{ float:left; width:20%;  background-image: url("../images/btm_4sect_border.jpg");
    background-position: right center;   background-repeat: no-repeat; padding:0 2%; margin:20px 1% 0 0; text-align:center}
	.brdernone{ background-image:none}
	.fourbyone h3{ font-size:18px; color:#000; width:100%; text-align:center}
	.thumb{ min-height:95px;}
	.thumb img{ max-width:100%}
	.fourbyone p{ min-height:125px;}
	.footer_inner .left{ float:left; width:50%; text-align:left; font-weight:bold}
		.footer_inner .right{ float:right; width:50%}
		.footer_inner .right ul{ margin:0; padding:0}
		.footer_inner .right ul li{ list-style:none; display:inline; padding:0 10px}
		.footer_inner .right ul li a{ color:#fff}
		.rep{
	color:#fff;
	background-image: url(../images/top_shape_l.jpg); 
	background-repeat: no-repeat;
	background-position: left top; width:auto; float:right; padding-left:14px; 
}
.rep span{
	background-color:#0054A4;
	color:#fff;
	background-image: url(../images/top_shape_r.jpg);
	background-repeat: no-repeat;
	background-position: right top; padding:2px 25px 2px 0px
}
.content_left_inner ul{ margin:0; padding:0}
.content_left_inner ul li{background-image: url(../images/tik.jpg); background-position: left center;

	background-repeat: no-repeat; padding:0 0 0 25px; font-size: 10px;font-weight:bold;  margin-left: 30px; }
.content_left_inner ul li a{ text-decoration:underline}

	h4{  
    font-size: 17px; margin-bottom:10px 
}
	h6{  background: none repeat scroll 0 0 #0054a4;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px; margin:0; border-bottom:#319ED8 5px solid; font-size: 12px;
    line-height: 19px;}
	.heading{ color:#fff; padding:0; margin:0 0 10px 0; font-size:25px;}
	.rightwhycontent span{ text-transform:capitalize; color:#3156A3; font-size:14px}
	
	.rightwhycontent { width:100%; float:left; padding:0px; background-color:#fff; border:solid 1px #cacaca; border-bottom:solid #0A5599 5px; border-radius:0;
background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #fff), color-stop(1, #ececec));
	background: -moz-linear-gradient( center top,  #fff 20%, #ececec 100% ); border-radius:5px; font-size: 12px;
    line-height: 19px;
 }
 .rightwhycontent h4{  background-color: #0A5599;
    border-bottom: 5px solid #9AC74C;
    color: #FFFFFF;
    margin: 0px 0 0;
    padding: 10px;}
	.rightwhycontent p{padding:10px
	}
	.width{ margin-bottom: 10px;
    margin-right: 10px;
    width: 239px;}
	.widthwide{ width:239px}
	.content_left_inner p strong{font-size:15px;
    margin-bottom: 10px; color: #000000;}
	
	
	
	/* mobile menu */ 
	
	
ul#mobilemenu {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	width:100%; float:left
}

ul#mobilemenu li {
	position: relative;
	width:100%;	
}
ul#mobilemenu ul {
	margin-left:-50x;/* ie5 fix */
	voice-family: "\"}\""; 
	voice-family: inherit;
}	
ul#mobilemenu li {float:left;/* hide float from ie5*/}
ul#mobilemenu ul {
	width:150px;	
	w\idth:148px;
	voice-family: "\"}\""; 
	voice-family: inherit;	
}
ul#mobilemenu ul {margin-left:0;/* hide margin from ie5*/}

/* keep above styles together .............*/

ul#mobilemenu li ul {
	position: relative;
	display:none;
}
ul#mobilemenu li ul li {
	width:100%; background-color:none !important; padding:0 !important

}
ul#mobilemenu li.home{background-image: url(../images/mob_menu_icon.png); background-position: right 16px;}
ul#mobilemenu li.off{background-image: url(../images/mob_menu_icon.png); background-position: right 16px;}
ul#mobilemenu li.on{background-image: url(../images/mob_menu_icon.png); background-position: right 16px;}
/* Styles for Menu Items */
ul#mobilemenu li a {
	display:block;
	text-decoration: none;
	color: #777;
	
	line-height:2em;
	height:2em;	
	padding:0 5px
}
ul#mobilemenu li li a {}

/* set dropdown to default */
ul#mobilemenu li:hover li a, li.over li a {
    color: #777;
   
}

/* this sets all hovered lists to red */
ul#mobilemenu li a:hover,
ul#mobilemenu li:hover a, li.over a,
ul#mobilemenu li:hover li a:hover, li.over li a:hover {
   color: #1E3E51;
  
}

ul#mobilemenu li ul li  {  } /* Sub Menu Styles */
ul#mobilemenu  li.on ul { display:block  } /* The magic */
ul#mobilemenu li.off ul{display:none}
.onlyonmobile a{ color:#fff !important}
.topbar_inner a{ color:#fff !important}
.onlyonmobile{font-size: 17px;
    font-weight: bold; text-transform:uppercase}

@media only screen and (max-width: 320px){.info {
    margin-top: 0px !important;
    padding-bottom: 43px !important;
    
}#wrapper { width: 95% !important;}.logo{ margin-top:15px;}.logo{ margin-top:15px !important;}
.banner_wrapperinner {
    height: auto;
}.innerpage .content_left_inner{ width:95%  !important}
.innerpage .content_right{ width:95% !important; float:left !important}
.topbar_inner {color: #FFFFFF !important;}
.onlyondesktop{display:none}
.onlyonmobile{ display:block;}
}
}
@media only screen and (min-width: 560px) and (max-width: 570px){.banner {
    height: 248px !important;
    width: 100%;
	.topbar_inner {color: #FFFFFF !important;}
	.onlyondesktop{display:none}
.onlyonmobile{ display:block}
}
   

}
/*  #Mobile (Portrait)================================================== */   
/* Note: Design for a width of 320px */  
 @media only screen and (max-width: 767px) {.topbar_inner {width:95%;padding:5px}
.header_inner {width:95%;}
.banner_inner {width:95%;}
.header_wrapper {float:left;width:100%;height:90px;/* background-image: none;background-color: green;*/}
.banner {width:100%;}
.login_section {/*background-color: #00a1dc;*/ border: 5px solid #FFFFFF;float: left; margin-top: 15px;width: 97%;}
.logo {margin: 0 auto !important;text-align: center;width: 95%;float:none}
.logo img {max-width:268px;}
.topbar_outer {width:100%;height:auto;text-align:center}
.topbar_inner {line-height:20px;text-align:center}
.body_inner {margin:0 auto;width:95%;}
.content_left {float:left;width:100%;margin-top:0px;}
.content_right {float:right;width:100%;margin-top:20px}
.login_section_outer {float:left;width:100%}
.login_section_outer img {max-width:100%}
.footer_inner{width:95%; margin:0 auto; padding:15px 0; color:#FFFFFF; }
.video_wrapper{ float:left; width:250px !important; margin-right:10px} 
.arrow img {margin-top:-21px !important}
#wrapper { width: 95%;}
.twobyone{ width:92% !important; min-height:inherit !important}
.title{ padding-left: 15px;   padding-top: 6px;}
.login_section { margin:515px 0 0 0 }

.information_form div.left {        width: 98% !important;}
.information_form div.left input {width: 100% !important;}

.information_form div.right { float: left !important; width: 98% !important;}
.information_form div.right input {width: 100% !important; float: left !important; }

.topmenu{ margin-top:0 !important}


.banner_wrapperinner {
    height: auto;
}
.innerpage .content_left_inner{ width:95%  !important}
.innerpage .content_right{ width:95% !important; float:left !important}

.banner {
    height:220px;
    width: 100%;
}
.innerpage .banner {
    height:220px;
    width: 100%;
}

.topbar_inner {color: #FFFFFF !important;}
.onlyondesktop{display:none}
.onlyonmobile{ display:block}
}




@media only screen and (min-width: 768px) and (max-width: 959px) {.header_wrapper {float:left;width:100%;height:90px;/*background-image: none;background-color: red;*/}
.banner {width:100%}
.banner_inner {width:100%}
.login_section {float: none !important;margin: 0 auto !important;width: 92%; margin-top:20px !important}
.login_section_outer {width:100%;margin:0 auto}
.body_inner {margin: 0 auto;width: 100%;}
.content_left {float: left;margin-top: 27px;width:95%;text-align:justify}
.content_right {float: left;margin-top: 20px;width: 100%;text-align:justify}
.body_inner {margin: 0 auto;width: 95%;}
.topbar_inner {width: 100%;}
.form_notes {display: inline-block;float: none;margin-left: 10px;padding: 0 5px;text-align: left;width: 90%;}
.form_btm {width:700px}
.information_form div.left {float:left;width:48%;margin-bottom:5px}
.information_form div.right {float:right;width:48%;margin-bottom:5px}
.topbar_inner{ width:90%}
.header_inner {    margin: 0 auto;    width: 100%;}
.footer_inner{width:95%; margin:0 auto; padding:15px 0; color:#FFFFFF; }
.video_wrapper{ float:left; width:339px !important; margin-right:10px} 
.info {margin-top: 10px; padding: 10px; text-align: left; }
.arrow img { margin-top: -21px !important;}
#wrapper { width: 95%;}
.header_wrapper{padding: 2%  2%  0%  2%;     width: 96%;}
.banner_wrapper{ padding: 0%  2%  0%  2%;     width: 96%;}
.title{ padding-left: 15px;   padding-top: 6px;}
.banner_wrapper {    margin: 0 2%;    width: 92% !important;}
.login_section {margin: 458px auto 0 !important;}
.banner_wrapper {    background-size: 151% auto;}



.login_section {    margin: 178px 0 0 !important;}
.spep_1{width:33% !important;}
.spep_2{width:33% !important;}
.twobyonespep_1{width:44% !important; padding:2% !important}
.fourbyone{width:43% !important;}
.thumb{ height:100% !important}
.fourbyone p{min-height:100% !important}
.footer_inner .right ul li{ float:left !important;}
.footer_wrapper{ height:auto; padding-bottom:15px !important}
.header_wrapper{ height:auto !important}
.topmenu ul li{ float:left !important; width:100% !important}
.login_section{ margin-top:10px !important}
.ipadonly{  display: block !important;
    float: left;
    width: 100%;}
.topmenu ul li{ width:auto !important}
.form_btm{ display:none}
.login_section{ width:100% !important}
.topbar_inner{ text-align:center !important}
.topmenu ul li a{ padding:5px 7px 6px !important; }
.topmenu ul li.active{   padding-bottom: 12px !important; }

.logo{  height: 56px !important;}
.header_inner{min-height: 91px !important;}
.banner_wrapperinner {
    height: auto;
}.innerpage .content_left_inner{ width:95%  !important}
.innerpage .content_right{ width:95% !important; float:left !important}
.banner {
    height:340px;
    width: 100%;
}
.innerpage .banner {
    height:290px;
    width: 100%;
}.innerpage .banner_wrapper {background-size:180% auto !important}
.topbar_inner {color: #FFFFFF !important;}
.onlyondesktop{display:block}
.onlyonmobile{ display:none}
}

/* #Mobile (Landscape)================================================== */   /* Note: Design for a width of 480px */   
@media only screen and (min-width: 480px) and (max-width: 767px) {.topbar_inner {width:95%;}
.header_inner {width:95%;}
.banner_inner {width:95%;}
#wrapper { width: 95%;}
.login_section { margin:525px 0 0 0 !important }
input.submit_form{width: 100%;}
.login_section {    margin: 178px 0 0 !important;}
.spep_1{width:33% !important;}
.spep_2{width:33% !important;}
.twobyonespep_1{width:100% !important;}
.fourbyone{width:95% !important;}
.thumb{ height:100% !important}
.fourbyone p{min-height:100% !important}
.footer_inner .right ul li{ float:left !important;}
.footer_wrapper{ height:auto; padding-bottom:15px !important}
.header_wrapper{ height:auto !important}
.topmenu {float:none !important;text-align:center !important;padding-left:13%;padding-right:5%;}
.topmenu ul li{ float:left !important; padding-bottom:5px !important }
.topmenu ul li a{ padding:5px 9px 5px !important; font-size:11px !important }
.topmenu ul li.active{  padding-bottom: 11px !important; } 
.login_section{ margin-top:10px !important}
.logo{height: 66px !important;}
.header_inner{ height:63px !important}

.topbar_inner {color: #FFFFFF !important;}
.onlyondesktop{display:none}
.onlyonmobile{ display:block}
.innerpage .banner_wrapper {background-size:180% auto !important}
}

@media only screen and (min-width: 1024px) and (max-width: 5000px)
{.homethumb {margin-right:10px;float:left;width:190px}
.arrow {float:left;width:50px}
.title {float:left;color:#3e5e71;width:200px;font-size:12px; margin-left: 11px;}
.banner {    width: 550px !important;}
.topbar_inner{ display:none !important}
		.rep{display:block !important
}

.onlyondesktop{display:block}
.onlyonmobile{ display:none}

}
@media only screen and (max-width: 1024px){.phone_desktop{ display:none !important}}
